<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="centerDiv">
            <p>Welcome, {{session.email}}</p>
            <ion-pane>
                <ion-header-bar class="bar-stable">
                    <button class="button button-block button-positive" ng-click="logout()">Logout</button>
                </ion-header-bar>
                <ion-content>
                    <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" current-location="true" />
                    <div id="map_canvas"></div>
                    <button class="button button-block button-positive" ng-click="addAShopToCurrentUser()">Add shit!</button>
                </ion-content>
            </ion-pane>
        </div>
    </ion-content>
</ion-view>
