/********************************
Login
*********************************/

.scroll {
    height: 100%;
}

.login-page {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/giphy.gif);
    background-size: cover;
}

#loginInput {
    border-style: none;
}

.login-div {
    text-align: center;
    margin-top: 10%;
}

.login-div img {
    display: block;
    margin: auto auto 35% auto;
}

#loginButtons {
    border-radius: 50%;
}

#membershipSignUpSport {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}

#membershipSignUpPremium {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
}

#loginContainer {
    color: white;
}

#memberApplyPrice {
    display: inline;
}

#memberApplyClose {
    float: right;
    cursor: pointer;
}


/********************************
Splash
*********************************/


/********************************
Tab
*********************************/


/********************************
Tab-History
*********************************/

#avatar {
    max-height: 50px;
}

#historyCard {
    white-space: normal;
    padding-bottom: 15px;
}

#historyTime {
    float: right;
}

#historyCompleted {
    color: green;
    font-size: 2em;
    opacity: .5;
}

#historyNotCompleted {
    color: red;
    font-size: 2em;
    opacity: .5;
}

#historyCaret {
    opacity: .5;
}


/********************************
Tab-Dash
*********************************/

#map_canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

.scroll {
    height: 100%;
}

.angular-google-map-container {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#content {
    max-height: 130px;
    width: 170px;
}

#webLink {
    position: relative;
    bottom: auto;
}

.button {
    line-height: 10px !important;
    min-height: 20px !important;
    padding: 2px;
    font-weight: bold !important;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 13px;
}


/********************************
Tab-Profile
*********************************/

#profileCard {
    border-style: none;
}
