<ion-view view-title="Gear Pass" hide-back-button="true" can-swipe-back="false">
    <ion-content class="padding login-page" scroll="false">
        <div class="login-div">
            <img id="loginLogo" src="app/img/surf.png" alt="Logo" class="Logo">
            <button id="loginButtons" ng-hide="loggingIn" class="button button-block button-calm" ng-click="loggingIn=true">Member Login</button>
            <form ng-show="loggingIn" name="loginForm">
                <div class="list">
                    <label id="loginInput" class="item item-input item-stacked-label text-left">
                        <span id="loginContainer" class="input-label ">  Membership Number:</span>
                        <input required type="text" placeholder="x-xxx" ng-model="data.email">
                    </label>
                    <label id="loginInput" class="item item-input item-stacked-label text-left ">
                        <span id="loginContainer" class="input-label">  Password:</span>
                        <input required type="password" placeholder="  Password" ng-model="data.password">
                    </label>
                    <button id="loginButtons" class="button button-calm" ng-click="login()">Login</button>
                    <button id="loginButtons" class="button button-calm" ng-click="loggingIn=false">Back</button>
                </div>
            </form>
            <button id="loginButtons" ng-hide="loggingIn" class="button button-block button-dark" ng-click="applicationModal.show()">Apply Now!</button>
            <!--             <div class="centerDiv">
                <button class="button button-positive buttonFullwidth" ng-click="facebookLogin()">Facebook</button>
                <button class="button button-assertive buttonFullwidth" ng-click="googleLogin()">Google+</button>
            </div> -->
            <!-- <div class="centerDiv">
      <button class="button button-energized buttonFullwidth" ng-click="instagramLogin()">Instagram</button>
      <button class="button button-calm buttonFullwidth" ng-click="twitterLogin()">Twitter</button>
    </div> -->
        </div>
    </ion-content>
    <script id="templates/applicationModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Membership</h1>
                <button class="button button-clear button-primary" ng-click="applicationModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="card">
                    <div ng-show="chooseClub" class="item item-divider text-left">
                        <p id="memberApplyPrice">$9.99/mo.</p>
                    </div>
                    <div id="membershipSignUpClub" ng-click="chooseClub=!chooseClub" class="item item-text-wrap text-center">
                        Club Membership
                    </div>
                    <div ng-show="chooseClub" class="item item-text-wrap text-left">
                        <h4>10% discount at all Partner locations</h4>
                        <h4>Free T-shirt</h4>
                    </div>
                    <div ng-show="chooseClub" class="item item-divider text-right">
                        <button class="button button-clear button-primary" ng-click="goToPayment('club')">Sign Up!</button>
                    </div>
                </div>
                <div class="card">
                    <div ng-show="chooseSport" class="item item-divider">
                        <p id="memberApplyPrice">$14.99/mo.</p>
                    </div>
                    <div id="membershipSignUpSport" ng-click="chooseSport=!chooseSport" class="item item-text-wrap text-center">
                        Sport Membership
                    </div>
                    <div ng-show="chooseSport" class="item item-text-wrap text-left">
                        <h4>15% discount at all Partner locations</h4>
                        <h4>Free T-shirt</h4>
                    </div>
                    <div ng-show="chooseSport" class="item item-divider text-right">
                        <button class="button button-clear button-primary" ng-click="goToPayment('sport')">Sign Up!</button>
                    </div>
                </div>
                <div class="card">
                    <div ng-show="choosePremium" class="item item-divider">
                        <p id="memberApplyPrice">$19.99/mo.</p>
                    </div>
                    <div id="membershipSignUpPremium" ng-click="choosePremium=!choosePremium" class="item item-text-wrap text-center">
                        Premium Membership
                    </div>
                    <div ng-show="choosePremium" class="item item-text-wrap text-left">
                        <h4>15% discount at all Partner locations</h4>
                        <h4>Bring a new friend every time for free!</h4>
                        <h4>Free T-shirt</h4>
                    </div>
                    <div ng-show="choosePremium" class="item item-divider text-right">
                        <button class="button button-clear button-primary" ng-click="goToPayment('premium')">Sign Up!</button>
                    </div>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
