<ion-view title='<img height=40px width=50px src="app/img/icon.png" alt="Logo" class="Logo">'>
    <ion-content scroll="false">
            <div class="card">
                <div id="profileCard" class="item item-thumbnail-left">
                    <img src="app/img/surf.gif">
                    <h2><span ng-bind="profile.FirstName"></span> <span ng-bind="profile.LastName"></span></h2>
                    <p><span ng-bind="profile.Location"></span></p>
                    <ionic-ratings ratingsobj='ratingsObject' style="float: left"></ionic-ratings>
                </div>
                <div id="profileCard">
                    <div class="item item-divider">Contact Information:</div>
                    <div class="item">Email:<span ng-bind="profile.Email"></span></div>
                </div>
                <button id="profileUpdate" class="button button-block button-positive" ng-click="profileModal.show()">Update Profile</button>
            </div>
            <button id="profileLogout" class="button button-block button-positive" ng-click="logout()">Logout</button>
    </ion-content>
    <script id="templates/profileModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Public Profile</h1>
                <button class="button button-clear button-primary" ng-click="profileModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name</span>
                        <input type="text" ng-model="publicFirstName.value">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Last name</span>
                        <input type="text" ng-model="publicLastName.value">
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Location</span>
                        <ion-google-place ng-click="profileModal.hide()" placeholder="Enter an address or city!" ng-model="publicLocation.value" />
                    </label>
                </div>
                <button ng-hide="profile.value" class="button button-block button-positive" ng-click="createProfile()">Create</button>
                <button id="modalUpdate" ng-show="profile.value" class="button button-block button-positive" ng-click="updateProfile()">Update</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
