/* Empty. Add your own CSS if you like */

.centerDiv{
  display: inline-block; width:100%; margin: 0 auto; padding: 6px; text-align: center;
}

.buttonFullwidth{
  width: 46% ;
}

.login-page {
    background: url(../img/giphy.gif);
    background-size: cover;
}

.login-div {
  opacity: 0.93 ;
  padding: 30px;
}
