<ion-view view-title="Gear Pass">
    <ion-content class="padding">
        <div class="centerDiv">
            <ion-pane>
                <ion-content data-tap-disabled="true">
                    <div class="item item-input controls">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input id="shop-input" type="search" placeholder="Search Shops" data-tap-disabled="true" ng-model="search" ng-focus="searchFocused = true" ng-blur="searchFocused = false" ng-change="scrollTop()">
                        <button class="button" ng-click="searchShops()">Search</button>
                    </div>
                    <div id="map_canvas">
                        <ui-gmap-google-map bounds="map.bounds" center="map.center" zoom="map.zoom" options="options">
                            <ui-gmap-window options="windowOpt" show="windowOpt.show" closeClick="closeWindow" templateUrl="'windowContent.html'" templateParameter="windowParams">
                            </ui-gmap-window>
                        </ui-gmap-google-map>
                    </div>
                </ion-content>
            </ion-pane>
        </div>
        <script id="templates/modalContent.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Request Gear</h1>
                    <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
                </ion-header-bar>
                <ion-content class="padding">
                    <label id="requestInput" class="item item-input item-select">
                        <div class="gear">
                            Select Gear
                        </div>
                        <select ng-model="request.gear">
                            <option value="Surf Board(s)" selected>Surf Board</option>
                            <option value="Bike(s)">Bike</option>
                            <option value="Ski set(s)">Ski</option>
                        </select>
                    </label>
                    <label id="requestInput" class="item item-input item-select">
                        <div class="quantity">
                            Select Quantity
                        </div>
                        <select ng-model="request.quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                    <label id="requestInput" class="item item-input item-select">
                        <textarea placeholder="Custom Message" rows="5" lose-focus-on-return ng-model="request.message"></textarea>
                    </label>
                    <button class="button button-full button-positive" ng-click="Confirm()">Confirm</button>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
