<ion-view view-title="Gear Pass">
    <ion-content class="padding">
        <div class="centerDiv" ng-if="!loading">
            <ion-pane>
                <ion-content data-tap-disabled="true">

                    <p>
                        <span ng-model="selected"><b>Name:</b> {{selected.Name}}</span>
                        <ionic-ratings ng-model="selected.Rated" ratingsobj="{rating: selectedRating, readOnly: true}" style="float: right;"></ionic-ratings>
                    </p>
                    <p>
                        <span ng-model="selected"><b>Address:</b> {{selected.Address}}</span>
                    </p>
                    <p><span><b>Phone:</b></span>
                        <a ng-href="tel: {{selected.Numb}}" ng-model="selected"> {{selected.Numb}}</a>
                    </p>
                    <p>
                        <span ng-model="selected"><b>Hours:</b> {{selected.Hrs}}</span>
                    </p>
                    <p>
                        <span ng-model="selected"><b>Web:</b></span><span id="webLink" ng-click="openBrowser('http://' + selected.Web)">{{selected.Web}}</span>
                    </p>
                    <button class="button button-balanced NavButton" ng-click="navigate(selected.Marker)" style="float:left">Navigate</button>
                    <button class="button button-positive ReqButton" ng-click="openModal(selected.Name, selected.Email)" style="float:right">Request</button>
                    <div id="map_canvas">
                        <ui-gmap-google-map bounds="map.bounds" center="map.center" zoom="map.zoom" options="options">
                            <ui-gmap-window options="windowOpt" show="windowOpt.show" closeClick="closeWindow" templateUrl="'windowContent.html'" templateParameter="windowParams">
                            </ui-gmap-window>
                        </ui-gmap-google-map>
                    </div>
                </ion-content>
            </ion-pane>
        </div>
        <script id="templates/modalContent.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                    <h1 class="title">Request Gear</h1>
                    <button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>
                </ion-header-bar>
                <ion-content class="padding">
                    <label id="requestInput" class="item item-input item-select">
                        <div class="gear">
                            Select Gear
                        </div>
                        <select ng-model="request.gear">
                            <option value="Surf Board(s)" selected>Surf Board</option>
                            <option value="Bike(s)">Bike</option>
                            <option value="Ski set(s)">Ski</option>
                        </select>
                    </label>
                    <label id="requestInput" class="item item-input item-select">
                        <div class="quantity">
                            Select Quantity
                        </div>
                        <select ng-model="request.quantity">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </label>
                    <label id="requestInput" class="item item-input item-select">
                        <textarea placeholder="Custom Message" rows="5" lose-focus-on-return ng-model="request.message"></textarea>
                    </label>
                    <button class="button button-full button-positive" ng-click="Confirm()">Confirm</button>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
