<ion-view view-title="Membership Sign Up" hide-back-button="false" can-swipe-back="true">
    <ion-content scroll="false">
        <h3>Confirm Details:</h3>
        <ul class="list">
            <div class="item item-divider">
                Billing Information:
            </div>
            <li class="item">{{payment.first}}</li>
            <li class="item">{{payment.last}}</li>
            <li class="item">{{payment.street1}}</li>
            <li class="item">{{payment.street2}}</li>
            <li class="item">{{payment.city}}</li>
            <li class="item">{{payment.state}}</li>
            <li class="item">{{payment.zip}}</li>
            <div class="item item-divider">
                Credit Card Information:
            </div>
            <li class="item">{{payment.cardNumber}}</li>
            <li class="item">{{payment.month}}</li>
            <li class="item">{{payment.year}}</li>
            <li class="item">{{payment.cvc}}</li>
        </ul>
        <button id="applyButton" class="button button-block" style="height:35px" ng-click="collectPaymentInformation()">Confirm Payment!</button>
    </ion-content>
    <script id="templates/profileModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar">
                <h1 class="title">Contact Information</h1>
                <button class="button button-clear" ng-click="profileModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding" id="contentColor">
                <form name="profileInfoForm">
                    <div class="card" ng-hide="part2">
                        <label class="item item-input item-stacked-label text-left">
                            <span class="input-label ">  First Name:</span>
                            <input required type="text" ng-model="data.first">
                        </label>
                        <label class="item item-input item-stacked-label text-left ">
                            <span class="input-label">  Last Name:</span>
                            <input required type="text" ng-model="data.last">
                        </label>
                        <label class="item item-input item-stacked-label text-left">
                            <span class="input-label ">  Street Address:</span>
                            <input required type="text" ng-model="data.street1">
                        </label>
                        <label class="item item-input item-stacked-label text-left ">
                            <span class="input-label">  Street Address 2 (Optional):</span>
                            <input required type="text" ng-model="data.street2">
                        </label>
                        <label class="item item-input item-stacked-label text-left">
                            <span class="input-label "> City:</span>
                            <input required type="text" ng-model="data.city">
                        </label>
                        <label class="item item-input item-stacked-label text-left ">
                            <span class="input-label">  State:</span>
                            <input required type="text" ng-model="data.state">
                        </label>
                        <label class="item item-input item-stacked-label text-left">
                            <span class="input-label ">  Zip Code:</span>
                            <input required type="text" ng-model="data.zip">
                        </label>
                        <label class="item item-input item-stacked-label text-left ">
                            <span class="input-label">  Phone Number:</span>
                            <input required type="text" ng-model="data.phone">
                        </label>
                        <button id="applyButton" style="height:35px" class="button button-block" ng-click="part2=true">continue</button>
                    </div>
                    <div class="card" ng-show="part2">
                        <label class="item item-input item-stacked-label text-left">
                            <span class="input-label ">  Email Address:</span>
                            <input required type="text" ng-model="data.email">
                        </label>
                        <label class="item item-input item-stacked-label text-left ">
                            <span class="input-label">  New Password:</span>
                            <input required type="password" placeholder=" " ng-model="data.password">
                        </label>
                        <label class="item item-input item-stacked-label text-left ">
                            <span class="input-label">  Confirm Password:</span>
                            <input required type="password" placeholder=" Confirm Password" ng-model="data.confirmpassword">
                        </label>
                        <button class="button button-block" style="height:35px" ng-click="part2=false">back</button>
                    </div>
                </form>
                <button ng-show="part2" id="applyButton" style="height:35px" class="button button-block" ng-click="continueToPayment()">continue</button>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="templates/paymentModal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar">
                <h1 class="title">Payment Information</h1>
                <button class="button button-clear" ng-click="paymentModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="card">
                    <button class="button button-block" id="redButton" ng-click="clearContactInfo()">Clear Billing Info</button>
                    <label class="item item-input item-stacked-label text-left">
                        <span class="input-label ">  First Name:</span>
                        <input required type="text" ng-model="payment.first">
                    </label>
                    <label class="item item-input item-stacked-label text-left ">
                        <span class="input-label">  Last Name:</span>
                        <input required type="text" ng-model="payment.last">
                    </label>
                    <label class="item item-input item-stacked-label text-left">
                        <span class="input-label ">  Street Address:</span>
                        <input required type="text" ng-model="payment.street1">
                    </label>
                    <label class="item item-input item-stacked-label text-left ">
                        <span class="input-label">  Street Address 2 (Optional):</span>
                        <input required type="text" ng-model="payment.street2">
                    </label>
                    <label class="item item-input item-stacked-label text-left">
                        <span class="input-label "> City:</span>
                        <input required type="text" ng-model="payment.city">
                    </label>
                    <label class="item item-input item-stacked-label text-left ">
                        <span class="input-label">  State:</span>
                        <input required type="text" ng-model="payment.state">
                    </label>
                    <label class="item item-input item-stacked-label text-left">
                        <span class="input-label ">  Zip Code:</span>
                        <input required type="text" ng-model="payment.zip">
                    </label>
                </div>
                <div class="card">
                    <div class="item item-divider">
                        <p id="contactInfoHeader">Card Number:</p>
                    </div>
                    <div id="contactInfoInput" class="item item-text-wrap">
                        <input type="text" placeholder=" xxxxxxxxxxxxxxxx" ng-model="payment.cardNumber">
                    </div>
                    <div class="item item-divider">
                        <p id="contactInfoHeader">Exp. Month</p>
                    </div>
                    <div id="contactInfoInput" class="item item-text-wrap">
                        <input type="number" placeholder=" 05" ng-model="payment.month">
                    </div>
                    <div class="item item-divider">
                        <p id="contactInfoHeader">Exp. Year</p>
                    </div>
                    <div id="contactInfoInput" class="item item-text-wrap">
                        <input type="number" placeholder=" 2020" ng-model="payment.year">
                    </div>
                    <div class="item item-divider">
                        <p id="contactInfoHeader">CVC</p>
                    </div>
                    <div id="contactInfoInput" class="item item-text-wrap">
                        <input type="text" placeholder=" 123" ng-model="payment.cvc">
                    </div>
                </div>
                <button class="button button-block" id="applyButton" style="height:35px" ng-click="continueToCheckout()">continue</button>
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>
